#model {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.page {
  width: 1000px;
  margin: 1em;
}

.title {
  height: 500px;
  width: 100%;
}

.titleText {
  font-family: 'Epilogue', sans-serif;
  font-size: 5em;
  color: white;
  padding: 1em;
  text-shadow: 4px 4px grey;
}

.content {
  width: 100%;
}

.section {
  width: 300px;
  height: 500px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  box-shadow: 4px 4px black;
}

.sectionText {
  font-family: 'Epilogue', sans-serif;
  color: white;
  margin: 1.5em 0.5em;
}

canvas {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  outline: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  background-image: url("./resources/background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
}
